%h1{:style => "padding-left: 15px"}
  Edit Collection
%br
%a{:class => "col-btn", :href => delete_collection_path(params[:id]), :data => { confirm: 'Are you sure you would like to delete this collection?' }}
  %span.glyphicon.glyphicon-remove
  Delete collection
%br
%br

= render partial: "form"
