/ :css
/   .btn-index-create {
/     position: absolute;
/     right: 30px;
/   }
/   .nav-tab:hover {
/     cursor: pointer;
/   }

/ -if !current_user.nil?
/   = link_to new_collection_path, :id=> "create-btn", :class=> "btn btn-default pull-right btn-index-create" do
/     %span.glyphicon.glyphicon-plus
/     Create Collection

/ %h1 Collections

/ #tabs
/   %ul.nav.nav-tabs
/     %li.active.nav-tab
/       %a{"data-link" => "public"} Public
/     %li.nav-tab
/       %a{"data-link" => "private"} Private

/ .tab-pane.col-md-12.padding{"data-link" => "private"}
/   -if @private_collections.nil? || @private_collections.empty?
/     %h2 You have no private collections
/   -else 
/     %h2 Your Private Collections
/     = will_paginate @private_collections, :param_name => "private_page"
/     %ul.collections
/       - @private_collections.each do |collection|
/         %br
/         %li
/           -col_path = "/collections/" + collection.id.to_s
/           %a{:href => col_path}
/             %span.glyphicon.glyphicon-th-list
/             #{collection.name}

/ .tab-pane.col-md-12.padding{"data-link" => "public"}
/   -if @public_collections.empty?
/     %h2 There are no public collections
/   -else 
/     %h2 All Public Collections
/     = will_paginate @public_collections, :param_name => "public_page"
/     %ul.collections
/       - @public_collections.each do |collection|
/         %br
/         %li
/           -col_path = "/collections/" + collection.id.to_s
/           %a{:href => col_path}
/             %span.glyphicon.glyphicon-th-list
/             #{collection.name}








/ :css
/   .new-collection-button {
/     width: 200px;
/     height: 60px;
/     border: .5px solid #E5E5E5;
/     border-radius: 54px;
/     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/     margin-top: 200px;
/   }

/   .new-collection-button:hover {
/     cursor: pointer;
/     box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
/     /background-color: #F5F5F5;
/   }

/   .collection-button-text {
/     font-size: 18px;
/     text-align: center;
/     position: relative;
/     top: 9px;
/   }

/   .plus {
/     display: inline-block;
/     color: #6BC06D;
/     font-size: 25px;
/   }

/   .new-collection {
/     display: inline-block;
/     font-family: Gotham;
/     font-weight: bold;
/   }

/   .filter-box {
/     width: 200px;
/     height: 120px;
/     background-color: #F5F5F5;
/     padding: 12px;
/     margin-top: 42px;
/   }

/   .filter-by {
/     font-family: Gotham;
/     font-weight: bold;
/     font-size: 18px;
/   }

/   .labels {
/     margin-top: 12px;
/     font-family: Open Sans;
/   }

/   h1 {
/     font-family: Gotham;
/     font-weight: bold;
/   }

/   .title {
/     margin-top: 60px;
/   }

/   .blurb {
/     font-family: Open Sans;
/     font-size: 18px;
/     margin-top: 18px;
/   }

/   .collection-cards {
/     display: flex;
/     flex-wrap: wrap;
/     justify-content: space-between;
/     margin-top: 24px;
/   }

/   .collection-card {
/     width: 250px;
/     height: 240px;
/     border: .5px solid #E5E5E5;
/     box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
/     margin-bottom: 30px;
/   }

/   .color1 {
/     height: 120px;
/     background-color: #6BC06D;
/   }

/   .color2 {
/     height: 120px;
/     background-color: #52C1E7;
/   }

/   .color3 {
/     height: 120px;
/     background-color: #FDE667;
/   }

/   .color4 {
/     height: 120px;
/     background-color: #C74042;
/   }

/   .info {
/     padding: 12px;
/   }

/   .class-name {
/     font-family: Gotham;
/     font-weight: bold;
/     font-size: 18px;
/   }

/   .school {
/     font-family: Open Sans;
/     font-size: 15px;
/   }

/   .semester {
/     font-family: Open Sans;
/     font-size: 15px;
/   }

/ .col-sm-3
/   .new-collection-button
/     .collection-button-text
/       .plus +
/       .new-collection New Collection

/   .filter-box
/     .filter-by Filter By
/     .labels
/       .public-label Public Collections
/       .private-label My Collections

/ .col-sm-9
/   %h1.title Collections
/   .blurb Your methods and case studies relevant to specific courses.
/   .collection-cards
/     .collection-card
/       .color1
/       .info
/         .class-name ME 110: Introduction to Product Development
/         .school UC Berkeley
/         .semester Fall 2018
/     .collection-card
/       .color2
/       .info
/         .class-name DES INV 190: Design Thinking
/         .school UC Berkeley
/         .semester Spring 2017
/     .collection-card
/       .color3
/       .info
/         .class-name DES INV 15: Introduction to Design Thinking
/         .school UC Berkeley
/         .semester Fall 2018
/     .collection-card
/       .color4
/       .info
/         .class-name DES INV 181/ME 292C-2: Reimagining Mobility
/         .school UC Berkeley
/         .semester Fall 2018

:css
  .notice {
    display: none;
  }

  .title-space {
    width: 150%;
    height: 210px;
    position: relative;
    right: 25%;
    background-color: #FFBF69;
  }

  .title-text {
    font-family: Gotham;
    font-size: 36px;
    font-weight: bold;
    margin-left: 12%;
    padding-top: 150px;
  }

  .class-desc {
    margin-top: 30px;
  }

  .labels {
    font-family: Gotham;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }

  .labelt {
    position: relative;
    right: 17px;
    font-size: 36px;
  }

  .label1 {
    text-indent: 15px;
    margin-top: 24px;
  }

  .label1:hover {
    cursor: pointer;
    color: #6CC06D;
  }

  .gray-box {
    width: 320px;
    height: 220px;
    background-color: #F5F5F5;
    margin-top: 74px;
    margin-bottom: 100px;
    font-family: Open Sans;
    font-size: 16px;
  }

  .icon_col {
    position: relative;
    left: 25px;
    top: 5px;
  }

  .icon_name {
    position: relative;
    left: 65px;
    bottom: 17.5px;
  }

  .info1 {
    position: relative;
    left: 160px;
    bottom: 39px;
    font-weight: bold;
  }

  .icon_row {
    height: 45px;
  }


.title-space
  .title-text DES INV 190: Design Thinking: Methods, Skills, and Mindsets

.class-desc
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.col-sm-8.labels
  .labelt Modules
  .label1 Research
  .label1 Analysis/Synthesis
  .label1 Ideate
  .label1 Build

.col-sm-4
  .gray-box
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_school.png", :width => "25", :height => "25"}
      .icon_name Institution
      .info1.school Berkeley
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_semester.png", :width => "25", :height => "25"}
      .icon_name Semester
      .info1.semester Summer 2017
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_time.png", :width => "25", :height => "25"}
      .icon_name Time
      .info1.time 7/1/18 - 7/5/18
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_instructor.png", :width => "25", :height => "25"}
      .icon_name Instructor
      .info1.instructor Danielle Poreh
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_filler.png", :width => "25", :height => "25"}
      .icon_name Email
      .info1.email
        #{link_to 'd.poreh@berkeley.edu', 'mailto:d.poreh@berkeley.edu'}


















