%h1 Public Collections

%ul.collections
  - @public_collections.each do |collection|
    %li
      -col_path = "/collections/" + collection.id.to_s
      %a{:href => col_path}
        %span.glyphicon.glyphicon-th-list
        #{collection.name}
