:css
  .delete{
    position: absolute;
    z-index: 1;
    right: 5px;
    cursor: pointer;
  }
  .card:hover .add, .card:hover .delete {
    opacity: 0.3;
    font-size: 180px;
    right: 45px;
    visibility: visible;
    top: 0;
  }
  .card .add {
    visibility: hidden;
    position: absolute;
    top: 0;
    cursor: pointer;
  }
  .colname {
    min-width: 300px;
  }
  #collection_name {
    height: 46px;
    margin: 15px;
  }
  .batch_add {
    text-align: center;
  }
  .add-to-col {
    width: 25%;
  }
  .col-md-9 {
    width: 100%;
  }
  .mandatory {
    color: red;
  }
  .col_summary {
    padding-left: 15px;
  }

= form_for @collection do |f|
  #content-column.col-md-9
    /Method header
    .row
      .col-md-3.no-padding
        %h3.colname
          Collection Name
          %span.mandatory *
      .col-md-6.padding.pull-right
        .pull-right
          %ul.list-inline.method-toolbar
            %li
              = f.submit "Create", :class => "btn btn-primary pull-right"

  .input-group-lg{:style => "margin-top: 10px;margin-bottom: 10px;"}
  = f.text_field :name, :class=> "form-control", :placeholder => "Method Name"
  .col_summary
    %h3 
      Summary 
    = f.text_area :overview, :class => "form-control markdown", :rows => 4

/%div{:class => "col-xs-4 col-sm-4 left-top-padding add-to-col"}
/  %a.card{:href => edit_methods_path}
/    %h3.batch_add Add Design Methods to Collection
/    .add +
/%div{:class => "col-xs-4 col-sm-4 left-top-padding add-to-col"}
/  %a.card{:href => edit_studies_path}
/    %h3.batch_add Add Case Studies to Collection
/    .add +


