:css
  .notice {
    display: none;
  }

  .title-space {
    width: 150%;
    height: 210px;
    position: relative;
    right: 25%;
    background-color: #FFBF69;
  }

  .title-text {
    font-family: Gotham;
    font-size: 36px;
    font-weight: bold;
    margin-left: 12%;
    padding-top: 150px;
  }

  .class-desc {
    margin-top: 30px;
  }

  .labels {
    font-family: Gotham;
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
  }

  .labelt {
    position: relative;
    right: 17px;
    font-size: 36px;
  }

  .label1 {
    text-indent: 15px;
    margin-top: 24px;
  }

  .label1:hover {
    cursor: pointer;
    color: #6CC06D;
  }

  .gray-box {
    width: 320px;
    height: 220px;
    background-color: #F5F5F5;
    margin-top: 74px;
    margin-bottom: 100px;
    font-family: Open Sans;
    font-size: 16px;
  }

  .icon_col {
    position: relative;
    left: 25px;
    top: 5px;
  }

  .icon_name {
    position: relative;
    left: 65px;
    bottom: 17.5px;
  }

  .info1 {
    position: relative;
    left: 160px;
    bottom: 39px;
    font-weight: bold;
  }

  .icon_row {
    height: 45px;
  }


.title-space
  .title-text DES INV 190: Design Thinking: Methods, Skills, and Mindsets

.class-desc
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

.col-sm-8.labels
  .labelt Modules
  .label1 Research
  .label1 Analysis/Synthesis
  .label1 Ideate
  .label1 Build

.col-sm-4
  .gray-box
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_school.png", :width => "25", :height => "25"}
      .icon_name Institution
      .info1.school Berkeley
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_semester.png", :width => "25", :height => "25"}
      .icon_name Semester
      .info1.semester Summer 2017
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_time.png", :width => "25", :height => "25"}
      .icon_name Time
      .info1.time 7/1/18 - 7/5/18
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_instructor.png", :width => "25", :height => "25"}
      .icon_name Instructor
      .info1.instructor Danielle Poreh
    .row.icon_row
      %img{:class => "icon_col", :src => "./assets/icon_filler.png", :width => "25", :height => "25"}
      .icon_name Email
      .info1.email
        #{link_to 'd.poreh@berkeley.edu', 'mailto:d.poreh@berkeley.edu'}
