<h1>Listing method_case_studies</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @method_case_studies.each do |method_case_study| %>
      <tr>
        <td><%= link_to 'Show', method_case_study %></td>
        <td><%= link_to 'Edit', edit_method_case_study_path(method_case_study) %></td>
        <td><%= link_to 'Destroy', method_case_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Method case study', new_method_case_study_path %>
