%p= link_to citation.text, citation
%h3 Citations
.col-md-11
  %p Example of Cit.
.col-md-1
  %a
    %span.glyphicon.glyphicon-minus
.col-md-11
  %input.form-control{:placeholder => "Tag", :type => "text"}/
.col-md-1
  %a
    %span.glyphicon.glyphicon-plus
