<p><%= link_to citation.text, citation %></p>


<h3>Citations</h3>

<div class="col-md-11">
  <p>Example of Cit.</p>
</div>
<div class="col-md-1">
  <a><span class="glyphicon glyphicon-minus"></span></a>
</div>

<div class="col-md-11">
  <input type="text" class="form-control" placeholder="Tag">
</div>
<div class="col-md-1">
  <a><span class="glyphicon glyphicon-plus"></span></a>
</div>