<h1>Discussions#create_edit</h1>
<%= link_to "Home", "/de/index" %>
<%= link_to "Add", "/discussions/home" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Discussion%20-%20Create.jpeg?version=14&etag=uhOi2xEL8TJLCyOIYOrq83qAglGBmnSQ"/>