
<script> 
	$(function(){
		var pH = $('#create-btn').parent().parent().height()
		var eH = $('#create-btn').height()
		$('#create-btn').css('margin-top', (pH - eH)/2)
	});
</script>
<div class="row no-margin-left no-margin-right">
	<div class="col-md-6">
		<h3>Discussions</h3>
	</div>
  	<div class="col-md-6">
		<button id='create-btn' type="submit" class="btn btn-default pull-right" onclick="window.location.href = '/discussions/create';"><span class="glyphicon glyphicon-comment"></span> Start Discussion</button>
  	</div>
</div>
<ul class="nav nav-tabs nav-bar-margin">
  			<li class="active"><a href="#">Most Recent</a></li>
  			<li><a href="#">Popular</a></li>
  			<li><a href="#">Old</a></li>
  			<li><a href="#">Recently Viewed</a></li>
</ul>
<%= render "/layouts/discussion_content", locals: @discussion = {:likes => "0", :title => "What should one look out for when using netnography", :time => "1m", :name => "Mark Goldberg", :responses => "0", :tags => ["research"] } %>
<%= render "/layouts/discussion_content", locals: @discussion = {:likes => "3", :title => "Rate your research methods!", :time => "2h", :name => "John Doe", :responses => "12", :tags => ["research","brainstorming"] } %>
<%= render "/layouts/discussion_content", locals: @discussion = {:likes => "1", :title => "Amazingly well done website user flow", :time => "4h", :name => "Bob Ha", :responses => "16", :tags => ["user testing"] } %>

</div>
