
<script> 
	$(function(){
		var pH = $('#create-btn').parent().parent().height()
		var eH = $('#create-btn').height()
		$('#create-btn').css('margin-top', (pH - eH)/2)
	});
</script>
<div class="row no-margin-left no-margin-right">
	<div class="col-md-6">
		<h3>Discussions</h3>
	</div>
  	<div class="col-md-6">
  		<%= link_to new_discussion_path, :class => "btn btn-default pull-right", :id => "create-btn" do %>
			<span class="glyphicon glyphicon-comment"></span> Start Discussion
		<% end %>
  	</div>
</div>
<ul class="nav nav-tabs nav-bar-margin">
  			<li class="active"><a href="#">Most Recent</a></li>
  			<li><a href="#">Popular</a></li>
  			<li><a href="#">Old</a></li>
  			<li><a href="#">Recently Viewed</a></li>
</ul>

<% @discussions.each do |disc| %>
	<%= render "/layouts/discussion_content", locals: @discussion = disc %>
<% end %>

</div>
