<p> Hi, your friend  <%= @user.first_name %> has shared <%= @method.name %> with you! You can view it at <a href="www.thedesignexchange.org/design_methods/<%= @method.id%>"> <%= @method.name %> </a>.</p>

<p>
From DXNotification Systems
</p>