<div class="bs-docs-sidebar hidden-print affix-top" role="complementary" style=" padding-left: 10px;">
  <ul class="nav bs-docs-sidenav">
<li class="active"><h5>Brainstorming</h5></li>
<li class=""><h5>Researching</h5></li>
<li class=""><h5>Prototyping</a>
	<ul class="nav" style="padding-left: 20px;">
		<li class=""><h4>Purpose</h4></li>
			<div class="checkbox">
				<label>
						<input type="checkbox">Look and Feel
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Technical Implementation
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">User Interaction
				</label>
			</div>
		<li class=""><h4>Product Type</h4></li>
			<div class="checkbox">
				<label>
						<input type="checkbox">Web
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Mobile
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Physical
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Service
				</label>
			</div>
		<li class=""><h4>Fidelity</h4></li>
			<div class="checkbox">
				<label>
						<input type="checkbox">Low
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Medium
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">High
				</label>
			</div>
		<li class=""><h4>Design Stage</h4></li>
			<div class="checkbox">
				<label>
						<input type="checkbox">Mockup
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Detail Design
				</label>
			</div>
			<div class="checkbox">
				<label>
						<input type="checkbox">Production Build
				</label>
			</div>
	 </ul>
</li>
<li class=""><h5>Analysis & Synthesis</h5></li>
<li class=""><h5>User Testing</h5></li> 
<li class=""><h5>Communicating Progress</h5></li>             
  </ul>
</div>