<div class = "row">
	<div class="col-md-2">

	</div>
  	<div class="col-md-10 left-pad">
  		<h3>Results for "<%= params['q'] %>"</h3>
  		<ul class="nav nav-tabs">
  			<li class="active"><a href="#">All</a></li>
  			<li><a href="#">Methods</a></li>
  			<li><a href="#">Case Studies</a></li>
  			<li><a href="#">Discussions</a></li>
		</ul>
  	</div>
</div>
<div class = "row">
	<div class="col-md-2">
		<%= render "sidebar" %>
	</div>
  	<div class="col-md-10 left-pad">
  		
      <% @design_methods.each do |method| %>
  		<%= thumbnail ({:url => "http://web.mit.edu/2.009/www/resources/illustrator/crash-course/productstoryboardex.jpg", :name => method.name.humanize, :tags => method.method_categories.map{|x| x.name}[0..2], :likes => (rand * 100).to_i, :description => method.overview, :id => method.id, :link => "/methods/view"}) %>
      <% end %>

  	</div>
</div>

