<div id="accordion" style="padding-left: 10px;">
  <ul class="nav">
    <li>
      <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Brainstorming</a>
      </h5>
      </li>
        <!-- SUBLIST FOR BRAINSTORMING -->
    <li>
      <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Researching</a>
      </h5>
    </li>
      <!-- SUBLIST FOR RESEARCHING -->
    <li>
      <h5>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Prototyping</a>
      </h5>
        <ul id="collapseThree" class="nav collapse" style="padding-left: 20px;">
          <li class="">
            <h4>Purpose</h4>
          </li>
            <div class="checkbox">
              <label>
                <input type="checkbox">Look and Feel
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">Technical Implementation
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">User Interaction
              </label>
            </div>
          <li class="">
            <h4>Product Type</h4>
          </li>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Web
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Mobile
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Physical
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Service
              </label>
            </div>
          <li class="">
            <h4>Fidelity</h4>
          </li>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Low
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Medium
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">High
              </label>
            </div>
          <li class="">
            <h4>Design Stage</h4>
          </li>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Mockup
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Detail Design
              </label>
            </div>
            <div class="checkbox">
              <label>
                  <input type="checkbox">Production Build
              </label>
            </div>
        </ul>
      </li>
      <li>
        <h5>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Analysis and Synthesis</a>
        </h5>
      </li>
        <!-- SUBLIST FOR ANALYSIS AND SYNTHESIS -->
      <li>
        <h5>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">User Testing</a>
        </h5>
      </li> 
        <!-- SUBLIST FOR USER TESTING -->
      <li>
        <h5>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Communicating Progress</a>
        </h5>
      </li> 
        <!-- SUBLIST FOR COMMUNICATING PROGRESS -->
  </ul>
</div>