<div class="jumbotron">
  <div class="container">
  	<button type="submit" class="btn btn-default pull-right">Publish</button>
  	<button type="submit" class="btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Save as Draft</button>
  	<span class="pull-right">Auto-saved as draft 2 minutes ago</span>
  </div>
</div>

<div class = "row row-margin">
	<div class="col-md-2">
		<div class="row row-margin">
			<h4>People</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-user" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="# of collaborators">
			</div>

			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-user" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="# of users">
			</div>
		</div>

  		<div class="row row-margin">
			<h4>Tools</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-pencil" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="Ex. paper, pen">
			</div>
		</div>

  		<div class="row row-margin">
			<h4>Time</h4>
			<div class="input-group">
  				<span class="input-group-addon">
  					<span class="glyphicon glyphicon-time" ></span>
  				</span>
  				<input type="text" class="form-control" placeholder="Ex. paper, pen">
			</div>
  		</div>

  		<div class="row row-margin">
			<h4>Tags</h4>
			<div class="panel panel-primary">
      			<div class="panel-heading">
        			<input type="text" class="form-control" placeholder="Tag">
      			</div>
      			<div class="panel-body">
        			<span class="label label-brainstorming">brainstorming 
        				<span class="glyphicon glyphicon-remove-circle" >
        				</span>
        			</span> 
        			<span class="label label-research">research 
        				<span class="glyphicon glyphicon-remove-circle" ></span>
        			</span>
      			</div>
    		</div>
  		</div>
	</div>
  	<div class="col-md-10 left-pad">
  		<div class="input-group-lg">
  			<input type="text" class="form-control" placeholder="Method Name">
		</div>
		<div style="border-style: dashed; border-radius: 10px; position: relative;">
			<h1><span class="glyphicon glyphicon-plus" style="position:absolute; z-index: 100; pointer-events: none;"></span></h1>
			<h3 style="position:absolute; z-index: 100; pointer-events: none;">Add Image/Video</h3>
			<input type="file" id="exampleInputFile" style="opacity:0; height: 100%; width: 100%;">
		</div>
</div>

  	</div>
</div>