<h1>Methods#create_edit</h1>
<%= link_to "Home", "/de/index" %>
<%= link_to "Add", "/methods/home" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Methods%20-%20Edit.jpeg?version=14&etag=nj1CdR4ArKqHuNyAnE1ZjOnqwp7x20du"/>