<h1>Methods#home</h1>
<%= link_to "Create_Edit", "/methods/create" %>
<%= link_to "View", "/methods/view" %>
<%= link_to "Search", "/methods/search" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Methods%20-%20Home.jpeg?version=21&etag=jWmubv9HhkMFr_HMT8nIVYzLMr1dWJeE"/>
