<h1>All feedback submissions</h1>



<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Email</th>		
    <th>Type</th>
    <th>Status</th>
  </tr>
    <% @feedbacks.each do |fb| %>
    <tr>
      <td><%= link_to fb.title, edit_feedback_path(fb) %></td>
      <td><%=fb.email %></td>
      <td><%= fb.feedbacktype %></td>
      <td><%= fb.status %></td>
    </tr>
    <% end %>
</table>


