<%= form_for(@case_study) do |f| %>
  <% if @case_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_study.errors.count, "error") %> prohibited this case_study from being saved:</h2>

      <ul>
      <% @case_study.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
