  <!-- RELATED METHODS AND CASE STUDIES -->
      <div class="row">
        <!-- RELATED METHODS -->
        <h4>Related Methods</h4>
          <% @similar_methods.each do |method| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(method,"4") %>
          <% end %>
        <!-- END RELATED METHODS -->
        
        <!-- RELATED CASE STUDIES -->
        <h4>Related Case Studies</h4>
          <% @similar_case_studies.each do |cs| %>
            <%= render "/layouts/thumbnail", locals: @thumb_obj = thumbnail(cs,"4") %>
          <% end %>
        <!-- ENF RELATED CASE STUDIES -->
      </div>
      <!-- END RELATED METHODS AND CASE STUDIES -->