<h1>Case Studies#home</h1>
<%= link_to "Create_Edit", "/case_studies/create" %>
<%= link_to "View", "/case_studies/view" %>
<%= link_to "Search", "/case_studies/search" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Cases%20-%20Home.jpeg?version=3&etag=tlpnvx_tkWK_gN0VivfJnByO5kzEopEe"/>