<h1>Listing case_studies</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @case_studies.each do |case_study| %>
      <tr>
        <td><%= link_to 'Show', case_study %></td>
        <td><%= link_to 'Edit', edit_case_study_path(case_study) %></td>
        <td><%= link_to 'Destroy', case_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case study', new_case_study_path %>
