<h1>Case Studies#search</h1>

<%= link_to "Home", "/de/index" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Search%20Results%20-%20Methods%20-%20User%20Testing.jpeg?version=19&etag=rWmlofZM.FtT.hS3Rx.bCrqwD7E0u7fw"/>