<h1><b><%= @casestudy.title.humanize().split.map(&:capitalize).join(' ') %></b></h1>
<h2> Description </h2>
<p class='lead'><%= @casestudy.description %></p>


<h1>Case Studies#view</h1>
<%= link_to "Home", "/de/index" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Cases%20-%20View.jpeg?version=3&etag=t6GzCQY9ENDWnFG_XXdCU3fiOQhCvJlI"/>