<style>
.padding{
  	padding-top: 15px;
}
</style>

<!-- BODY -->
<div class="row">
	<!-- PROFILE INFO -->
	<div class="col-md-3" style="border-right:1px solid #dddddd;">

		<!-- IN EDIT IS A FORM | IN VIEW MODE IS A TEXT -->
		<div class="col-md-12" style="text-align: center;">
			<h4>Name of person</h4>
			<h5><a>username</a></h5>
		</div>

		<!-- IN EDIT MODE IS AN UPLOAD IMAGE | IN VIEW MODE IS AN IMAGE -->
		<div class="col-md-12">
			<img  alt="" class="fit-all"src="http://newsdesk.si.edu/sites/default/files/imagecache/photo_pagewidth/photos/anonymous_silhouette.jpg" style="padding:10%;"/>
		</div>

		<div class="col-md-12">
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-plus"></span>
				Follow
			</button>
			<button type="submit" class="btn btn-default pull-right">
				<span class="glyphicon glyphicon-envelope"></span>
				Message
			</button>
		</div>

		<div class="col-md-12">
			<h4>
				<span class="glyphicon glyphicon-thumbs-up"></span>
				Likes
				<span class="pull-right">#</span>
			</h4>
			<h4>
				<span class="glyphicon glyphicon-user"></span>
				Followers
				<span class="pull-right">#</span>
			</h4>
			<h4>
				<span class="glyphicon glyphicon-user"></span>
				Following
				<span class="pull-right">#</span>
			</h4>
		</div>

		<!-- IN EDIT MODE YOU NEED TO ADD | IN VIEW MODE IS JUST A PANEL  -->
		<div class="col-md-12">
			<h4>Expertise</h4>
    			<p>
      				<span class="tag-label label-gap">brainstorming</span>
      				<span class="tag-label label-gap">research</span>
   	 			</p>
    	</div>

    	<!-- IN EDIT MODE YOU NEED TO ADD | IN VIEW MODE IS JUST A PANEL  -->
		<div class="col-md-12">
			<h4>About</h4>
			<p>Example of about</p>
    	</div>

    	<!-- IN EDIT MODE YOU NEED TO ADD | IN VIEW MODE IS JUST A PANEL  -->
		<div class="col-md-12">
			<h4>Contact</h4>
			<p>Example of contact</p>
    	</div>

    	<!-- SOCIAL ICONS -->
    	<div class="col-md-4">
    		<img alt="" src="http://www.cnib.ca/en/about/PublishingImages/Facebook.png"/>
    	</div>

    	<div class="col-md-4">
    		<img alt="" src="http://icons.iconarchive.com/icons/graphics-vibe/simple-rounded-social/256/linkedin-icon.png"/>
    	</div>

    	<div class="col-md-4">
    		<img alt="" src="http://www.threenerdyguys.com/wp-content/uploads/2014/05/Twitter-button-1.ico"/>
    	</div>
    	<!-- END SOCIAL ICONS -->

	</div>
	<!-- END PROFILE INFO -->

	<!-- POSTED BY -->
	<div class="col-md-9">
		<h4>Posted by Name 
			<button type="submit" class="btn btn-default pull-right" onclick="window.location.href = '/account/profile_user_edit';">
				Edit
			</button>
		</h4>
		<!-- NAVBAR -->
		<ul class="nav nav-tabs">
  			<li class="active"><a href="#">All</a></li>
  			<li><a href="#">Methods</a></li>
  			<li><a href="#">Case Studies</a></li>
  			<li><a href="#">Discussions</a></li>
		</ul>
		<!-- END NAVBAR -->
		<!-- THUMBNAILS -->
		<div data-link="all" class="tab-pane col-md-12 padding">
			<!-- POSSIBLE DO WHILE START HERE -->
			<div class="col-sm-6 col-md-4 left-top-padding">
   				<div class="thumbnail search-item">
  		   			<div class="caption">
  		     			<h5><a href="/methods/view?n=1">2x2</a></h5><p><span class="glyphicon glyphicon-star"></span> 32 Likes</p>
  		     			<p class="truncate-multiline"> No overview available</p><p><span class="label label-gap label-matrix">Matrix</span><span class="label label-gap label-method">Method</span><span class="label label-gap label-framing">Framing</span></p>
  		     		</div>
  	  			</div>
  			</div>
  			<!-- END POSSIBLE DO WHILE -->
		</div>
		<!-- END THUMBNAILS -->
	</div>
	<!-- END POSTED BY -->
</div>
<!-- END BODY -->
