<h1>Account#profile_user</h1>
<%= link_to "Settings", "/account/settings" %>
<img src="https://designexchange.mybalsamiq.com/projects/de/Profile%20Page%20-%20Posts%20V1.jpeg?version=2&etag=apD0hZo5sEi8lzDFV5VR8UmuT5kv6UPS"/>
