@import url('https://fonts.googleapis.com/css?family=Arvo:700');

  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom:10px;
  }

  p, ul, td, tr{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
  }


  table{
    border: 1px solid #d3d3d3;
    padding:20px;
  }

  img {
    height:150px;
    width:auto;
  }
}

 