@import url(//fonts.googleapis.com/css?family=Arvo:700);
.header-img {
  padding-top: 100px;
  margin-left:10%;
  margin-right:10%;
  img {
    width: 600px;
  }
}

.join {
  font-family: 'Montserrat', sans-serif;
  height:50px;
  font-size:150%;
  color: white;
  line-height: normal;
  display: table;
  margin: 24px auto;
}

.h1 {
  font-size: 300%;
}

.carousel,.item,.active{
   height:100%;
   position: relative;
 }
.carousel-inner{
  height:100%;
  z-index: -1;
  position: relative;
  padding-bottom:10%;
  background:white !important;

}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  background:none !important;
  background-image:none !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  background: !important;
  background-image:none !important;
}



.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid none !important;
  outline: 0;
  top:-25%;
 }

.carousel-inner img{
  position: relative;
}


.jumbotron {
  background: rgb(0, 0, 0);
  color: white;
  padding-top: 20px;
  z-index: 1000;
  width:40%; 
  float:right;
  top:50%;
  left:48%; 
  padding:5px;
  position: absolute; 
}

.jumbotron h2{
  font-weight: bold;
  font-size:275%;
  font-family: 'GFS Didot', serif;
  padding-top:12%;
  padding-bottom:4%;
}

.jumbotron p{
  font-size: 120%;
  font-family: Georgia, serif;
  padding-left:5%;
  padding-right:5%;
}

.jumbotron a{
  color:white;
  font-size: 70%;
  font-family: Georgia, serif;
  text-decoration:underline;
  font-style:italic;
}

.subtitle {
  font-size: 20px;
  margin-top:2%;
  text-align: center;
}

.login-margin {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}

.btn.sharp {
  border-radius:0;
  letter-spacing: 2px;
  padding: 10px 50px;
}
.logo{
  width: 300px;
}
.header {
  padding: 25px 10px;
  height: 55px;
  border-bottom: 1px solid #d3d3d3;
  overflow: no-content;
  min-width: 400px;
}
#header-right {
  width: 50%;
  border-color: blue;
}
.btn-xl {
  padding: 18px 28px;
  font-size: 22px;
  border-radius: 10px;
}

.boxed {
  border: 2px solid #009966;
  width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 20px;

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size:165%;
    margin-top: 0;
  }

  p {
    font-size:100%;
    font-family: 'Raleway', sans-serif;
  }
}

@media (max-width: 768px) {
  .login-margin {
    margin: 5% 0 0 0;
  }

  .jumbotron {
    height: 30%;
    .container {
      margin: 0;
      padding: 0;
    }
  }

  .header-img {
    padding-top: 20px;
    img {
      width: 100%;
    }
  }

  .boxed {
    width: 100%;
    padding: 15px;
    h2 {
      font-size:150%;
      margin-bottom: 0px;
    }
    p {
      font-size: 90%;
    }
  }
}
