.navbar-nav .mobile-user-session {
    display: none;
}

.navbar {
    top: 0;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    border: none;
    border-radius: 0;
    z-index: 2;
    width: 100%;
}

.navbar a {
    color: #4F4F4F;
}

.navbar .dropdown-menu {
    font-size: 16px;
}

.navbar li a:hover, .navbar-nav li a:focus {
    background-color: transparent;
    color: #6BC06D;
    opacity: 1;
}

.navbar li.active {
    font-weight: 700;
}

li.active a {
    color: #6BC06D;
}

#sign-in-btn {
    border: 1px solid #828282;
    font-size: 16px;
    border-radius: 4px;
    margin-left: 30px;
}

#sign-in-btn:hover {
    color: #ffffff;
    background-color:#828282;
}

.navbar-toggle .icon-bar {
    background-color: #4F4F4F;
}

.navbar-toggle:hover .icon-bar {
    background-color: #6BC06D;
}

#search-btn {
    background-color: transparent;
    position: relative;
    top: 2px;
    z-index: 2;
}

#search-btn:active, #search-btn:focus {
    box-shadow: none;
    outline: none
}

.search-icon {
    background-color: transparent;
    color: #4F4F4F;
    cursor: pointer;
    font-size: 16px;
}

.search-icon:hover {
    color: #6BC06D;
}

#search-input {
    position: absolute;
    right: 0;
    width: 0;
    outline: none;
    box-shadow: none;
    border: none;
}

#search-input:focus {
    border-bottom: 1px solid #4F4F4F;
    width: 200px;
}


.search-group {
    display: none;
}

#search {
    display: block;
}

#search-mobile {
    display: none;
}

// Collapse the navbar earlier and for smaller/mobile displays
@media (max-width: 850px) {

    #mobile-login {
        margin-top: 16px;
    }

    .navbar-nav .mobile-user-session {
        display: block;
        font-weight: bold;
    }

    #mobile-search-btn {
        background-color: transparent;
        z-index: 4;
    }

    #mobile-search-input {
        outline: none;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #4F4F4F;
        position: absolute;
        width: 200px;
        right:16px;
    }

    #mobile-search-btn:active, #mobile-search-btn:focus {
        box-shadow: none;
        outline: none
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    #search {
        display: none;
    }

    #search-mobile {
        display: block;
        padding: 0 10px;
    }

    #sign-in-btn {
        display: none;
    }
}