.navbar {
    top: 0;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    border: none;
    border-radius: 0;
    z-index: 2;
    width: 100%;
}

.navbar a {
    color: #333333;
}

.navbar li a:hover, .navbar-nav li a:focus {
    background-color: #ffffff;
    color: #6BC06D;
    opacity: 1;
}

.navbar li.active {
    font-weight: 700;
}

li.active a {
    color: #6BC06D;
}

#sign-in {
    border: 2px solid #6BC06D;
    font-weight: 700;
    border-radius: 4px;
    color: #6BC06D;
    margin-top: 9px;
    margin-left: 8px;
    padding: 4px 6px;
}

#sign-in:hover {
    color: #ffffff;
    background-color:#6BC06D;
}

.navbar-toggle .icon-bar {
    background-color: #333333;
}

.navbar-toggle:hover .icon-bar {
    background-color: #6BC06D;
}

.search-icon {
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    top: 2px;
}

.search-icon:hover {
    color: #6BC06D;
}

.search-group {
    display: none;
}