 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.autocomplete
 * require_tree .
 *= require grid
 *= require normalize-rails
 *= require dropit
 * require bootsy
 *= require bootstrap
 *= require_self

 */

.tag-list > span{
  margin-bottom: 5px;
  display: inline-block;
  margin-bottom: 4px;
}
.nav-row > *{
  margin: 2px;
}
.picture-upload{
  display: table;
}
.picture-upload a{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}


/* GENERAL FORMATTING */

.publish-background-color{
  background-color: #E8E8E8;
}

.tag-label{
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35em;
  border-style: solid;
  border-width: 1px;
}
.no-margin-left{
  margin-left: 0px;
}

.no-margin-right{
  margin-right: 0px;
}

.label-gap{
  margin-right: 4px;
}

.add-padding {
   margin-left: 15px; 
   margin-right: -15px; 
}

.search-item{
  background: #FCFCFC !important;
  height: 270px;
  overflow: hidden;
}

 .content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  color: #333;
  padding-bottom: 10px;
  min-height: 1500px;
}


img{
  width: 50%;
  display: block;
}

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .truncate-multiline {
    text-align: justify;
    font-size: 9pt;
  }

  .navbar{
    margin-bottom: 0;
  }

  .form-search{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }

  .padding{
  padding-top: 15px;
}

  .no-gap{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;

  }
  /* THUMBNAIL CSS*/

  .thumbnail{
    padding: 0px;
    min-height: 360px;
    }
    .thumbnail img{
      width: 100%;
    }
    .thumbnail .image-wrapper{ 
      overflow: hidden;
      height: 100px;
      margin: 12px 0 ;
    }
    .thumbnail .likes{
      font-size: 10pt;
    }
    
    .profile div img{
      height: 60px;
      width: auto;
      position: absolute;
      left: 0px;
    }

    .fit-all{
      width:100%;
      height:100%;
    }
