/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require grid
 * require normalize-rails
 *= require bootstrap
 *= require dropit
 * require form
 */

 .content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  color: #333;
  padding-bottom: 10px;
  min-height: 1500px;
}


img{
  width: 50%;
  display: block;
}