// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.huge {
  font-size: 130px;
  font-family: sans-serif;
}

.home {
  text-align: center;
  background-color: #EEE;
  padding: 20px;
  margin: 0;
}