= stylesheet_link_tag "_landing", :media => "all" # CSS is in this file!

:css
  @import url(//fonts.googleapis.com/css?family=Arvo:700);


.row{:id => "showcase"}
  .col-sm-6
    %h1
      =link_to "Methods", design_methods_path
    %p.subtitle Learn about the methods you could use on your next design.
    .background{:id => "method-background"}
      .layer
        %h2
          Cultural Probes
        %h4
          Gain insight into and inspirational responses about the daily life and habits of communities
  .col-sm-6
    %h1
      =link_to "Case Studies", case_studies_path
    / %p.subtitle{:style=>"text-align:center;font-size:100%; margin-top:-10%;font-family: 'Source Sans Pro', sans-serif;"} Read about how real design probems were solved.
    %p.subtitle{:style=>"text-align:center;font-size:200%; margin-top:30%;font-family: 'Source Sans Pro', sans-serif;"} Case Studies coming soon
    / = link_to case_study_path(id:197) do #change link path
    /   = image_tag "CaseStudiesLandingPage.png", :width => "100%", size: "450x370"
    /   .layer
    /     .left-padding
    /       .h1{:style=>"margin-bottom:10%;font-family: 'Work Sans';font-size:180%; sans-serif;color: white;"}
    /         Adapting Usability Testing for Oral, Rural Users
    /       .h4{:style=>"margin-bottom:10%;font-size:100%;color: white;margin-top:-10%;"}
    /         Read about a study conducted in Ghanaian villages that evaluated an audio computer desgined for people living in oral cultures
