%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
.container
  .row{}
  - if !user_signed_in?
    .p{:style=>"margin-top:-10%;padding:0 10% 0 10%"}
    .col-md-5
      .h2{:style=>"text-align:center;margin-bottom:10%;"}
        Methods
      .row
        %p.subtitle{:style=>"text-align:center;font-size:80%; margin-top:-10%;padding:0 10% 0 10%"} Learn about the methods you could use on your next design.
    .col-md-1
    .col-md-6
      .h2{:style=>"text-align:center;margin-bottom:10%;"}
        Case Studies
      .row
        %p.subtitle{:style=>"text-align:center;font-size:80%; margin-top:-10%;padding:0 10% 0 10%"} Read about how real design probems were solved.
    / .p{:style=>"margin-top:-10%;padding:0 10% 0 10%"}
    /   .h1{:style=>"margin-bottom:10%;"}
    /   Case Studies

  /. Landing
  / .thedxcommunity{:style=>"margin-top:60%;padding:0 10% 0 10%"}
  /   %hr/x
  /   .h2{:style=>"text-align:center; font-size:2em;margin-bottom:10%;"}
  /     The Design Exchange Community
  /   .col-md-4
  /     .thumbnail{:style=>"text-align:center; font-size:1em"}
  /       - if User.find_by(id:1).profile_picture.present?
  /         = image_tag(user.profile_picture, class: "img-responsive", :style => "padding: 5%")
  /       - else
  /         = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%", :size=>"150x150")
  /       .h3
  /         First Last
  /       .p
  /         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


  /   .col-md-4
  /     .thumbnail{:style=>"text-align:center; font-size:1em"}
  /       = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%", :size=>"150x150")
  /       .h3
  /         First Last
  /       .p
  /         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."


  /   .col-md-4
  /     .thumbnail{:style=>"text-align:center; font-size:1em"}
  /       = image_tag("no-profile-available.jpg", class: "img-responsive" , :style => "padding: 5%", :size=>"150x150")
  /       .h3
  /         First Last
  /       .p
  /         "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."



