.col-md-9
  %h2 Collaborative Research: TheDesignExchange, an Interactive Portal for the Design Community of Practice
  %p
    The DesignExchange portal is being developed to facilitate the capture,
    analysis and widespread use of methods associated with early stage design.
    Although the study of design has been shown to have high impact on the
    quality and success of engineered products, finding the right design method
    for any particular problem can be a challenge. TheDesignExchange fills a
    need to organize disparate design research methods, develop a community of
    design educators and practitioners to evaluate those methods, and educate
    the next generation of design innovators TheDesignExchange provides a
    structure to collect the many design methods in use today, their variations,
    and examples of use. The portal aims to support the design process by
    providing educators and practitioners alike with a versatile library of
    proven tools.
  %p
    Given the community-of-practice model and wide application of design
    processes/methods, theDesignExchange portal is fundamentally
    multi-disciplinary. The subject matter draws on the diverse range of
    contributors engaged in “design thinking”, a human-centric multidisciplinary
    design process (engineers, designers, architects, business people,
    educators). By recognizing and promoting the common thread among these
    different disciplines, theDesignExchange supports the cross-pollination of
    methodologies among them. By allowing a community-based discussion and
    documentation of design methods, theDesignExchange has the potential to be
    the world’s first open innovation archive of design-practice-related subject
    matter.  To accomplish this, we are drawing on previous work one in design
    theory, communities of practice, and expert/lead user-generated content.
  %p
    The DesignExchange is based upon work partially supported by the National
    Science Foundation CMMI Grant #1334361 as a collaboration between UC
    Berkeley and M.I.T. and partner sponsors. Any opinions, findings, and
    conclusions or recommendations expressed in this material are those of the
    author(s) and do not necessarily reflect the views of the National Science
    Foundation.
