:css
  .no-padding{
    padding: 0%;
  }
  .nav-tabs{
    cursor: pointer;
  }
  .tab-pane{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
  }
  .tool-help {
    display: none;
    background: #eeeeee;
    padding: 10px 15px;
    border-radius: 4px;
    bottom: 20px;
    min-width: 400px;
    border: 1px solid #a8a8a8;
    position: absolute;
  }
  .more-info, .more-info-headers {
    display: inline-block;
  }
  .more-info {
    padding-left: 30px;
    position: relative;
  }
  #online-tools-and-resources:hover + .tool-help, #history:hover + .tool-help, #critiques:hover + .tool-help, #additional-reading:hover + .tool-help, #citations:hover + .tool-help {
    display:block;
  }
  .mandatory {
    color: red;
  }
  .tooltips {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .tooltips .tooltiptext {
    visibility: hidden;
    width: 500px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -5px;
    left: 105%;
    position: absolute;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  .tooltips:hover .tooltiptext {
    visibility: visible;
  }

  .tooltips .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .progress {
    max-width: 600px;
    margin:    0.2em 0 0.2em 0;
  }

  .progress .bar {
    height:  1.2em;
    padding-left: 0.2em;
    color:   white;
    display: none;
  }

:javascript
  $(function(){
    adjustSaveBar();
    // Add case-insensitive contains filter
    // Hat tip: https://kilianvalkhof.com/2010/javascript/how-to-build-a-fast-simple-list-filter-with-jquery/
    jQuery.expr[':'].Contains = function(a,i,m){
      return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
    };
    $(".char-filter").change(filterCharacteristics).keyup(function(){$(this).change()});
    $(".char-filter").change(filter).keyup(function(){$(this).change()});

    $(".btn-index-create").click(function(e){
      if ($(this).attr("class").includes("collapsed")) {
        $(this).children().removeClass("glyphicon-chevron-down");
        $(this).children().addClass("glyphicon-chevron-up");
      } else {
        $(this).children().removeClass("glyphicon-chevron-up");
        $(this).children().addClass("glyphicon-chevron-down");
      }
    });

  });

  function filter() {
    var filterText = $(this).val();
    if(filterText) {
      $(".char-checkbox-label:not(:Contains(" + filterText + "))").css('background-color', 'white');
      $(".char-checkbox-label:Contains(" + filterText + ")").css('background-color', '#ffff99');
      $(".char-checkbox-label:not(:Contains(" + filterText + "))").slideUp();
      $(".char-checkbox-label:Contains(" + filterText + ")").slideDown();
    } else {
      $(".char-checkbox-label").slideDown();
      $(".char-checkbox-label").css('background-color', 'white');
    }
  }

  function filterCharacteristics() {
    var filterText = $(this).val();
    if(filterText) {
      // Show/hide matching char groups
      $(".edit-category").find(".edit-char-group:not(:Contains(" + filterText + "))").slideUp()
      $(".edit-category").find(".edit-char-group:Contains(" + filterText + ")").slideDown()

      // Highlight individual matches
      $(".edit-category").find(".char-checkbox-label:not(:Contains(" + filterText + "))").css('background-color', 'white');
      $(".edit-category").find(".char-checkbox-label:Contains(" + filterText + ")").css('background-color', '#ffff99');
    } else {
      $(".edit-category").find(".edit-char-group").slideDown();
      $(".edit-category").find(".char-checkbox-label").css('background-color', 'white');
    }
  }

  function adjustSaveBar(){
    var pH = $('#publish-btn').parent().height()
    var eH = $('#publish-btn').height()
    $('#publish-btn').css('margin-top', (pH - eH)/2)

    //pH = $('#save-btn').parent().height()
    eH = $('#save-btn').height()
    $('#save-btn').css('margin-top', (pH - eH)/2)

    pH = $('#auto-saved-text').parent().height()
    eH = $('#auto-saved-text').height()
    $('#auto-saved-text').css('margin-top', (pH - eH)/2)
  }

= render partial: "dev_form"

/- if Rails.env.production?
/  = render partial: "prod_form"
/- else
/  = render partial: "dev_form"



