:javascript
  $(function(){
    var cache = {};
    $("form#search input").autocomplete(DE.Autocomplete);
  });
/ %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
/ %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
/ %meta{:content => "true", :name => "HandheldFriendly"}/

%link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
= stylesheet_link_tag "_deheader", :media => "all"

.jumbotron
  .container
    .row
      .header-img
        = image_tag "logo2.png"
      %p.subtitle TheDesignExchange provides a central repository of early design stage methods, engaging all stakeholders in the design community of practice, and integrating online learning with real case studies to demonstrate the methods
      .row
      - if !user_signed_in?
        .row
          = link_to "JOIN", new_registration_path(:user), class: "btn btn-success sharp btn-lrg join"
