<style>
  @import url(http://fonts.googleapis.com/css?family=Arvo:700);

  .header-font{
    font-family: 'Arvo', serif;
  }
</style>

<div class="jumbotron">
  <div class="container">
    <div class="row">
  		<div class="col-md-8">
  			<h1 class="header-font">TheDesignExchange</h1>
  			<p class="subtitle">where designers and researchers share methods and best practices</p>
  			</br>
  			<p>Search</p>
  			<form  id="search" role="search">
          	<input type="text" class="form-search" placeholder="Search">
        		<button type="submit" class="btn btn-default" onclick="window.location.href = '<%= search_design_methods_path %>/'+ $('form input.form-search').val();">Submit</button>
      	</form>
  		</div>
  		<div class="col-md-4"><p>Sign In</p>
  			<div class="input">
  				<input type="text" class="form-control" placeholder="Username">
			</div>
			</br>
			<div class="input">
  				<input type="password" class="form-control" placeholder="Password" style="margin-bottom: 10px;">
			</div>

			<div class="row">
 				<div class="col-md-8"><%= link_to "Create an account", new_registration_path(:user) %></div>
  				<div class="col-md-4">
              <button type="submit" class="btn btn-default pull-right" onclick="window.location.href = '/account/login';">Log In</button>
          </div>
			</div>
  		</div>
	</div>
  </div>
</div>
<script type="text/javascript">
$(function(){
  var cache = {};

  $("form#search input").autocomplete(DE.Autocomplete);
});
</script>