<div class="jumbotron">
  <div class="container">
    <div class="row">
  		<div class="col-md-8">
  			<h1>Design Exchange</h1>
  			<p class="subtitle">where designers and researchers share methods and best practices</p>
  			</br>
  			<p>Search</p>
  			<form  role="search">
          		<input type="text" class="form-search" placeholder="Search">
        		<button type="submit" class="btn btn-default" onclick="window.location.href = '/de/search';">Submit</button>
      		</form>
  		</div>
  		<div class="col-md-4"><p>Sign In</p>
  			<div class="input">
  				<input type="text" class="form-control" placeholder="Username">
			</div>
			</br>
			<div class="input">
  				<input type="password" class="form-control" placeholder="Password">
			</div>

			<div class="row">
 				<div class="col-md-8"><%= link_to "Create an account", "/account/register" %></div>
  				<div class="col-md-4"><button type="submit" class="btn btn-default">Log In</button></div>
			</div>
  		</div>
	</div>
  </div>
</div>