<div class='row no-margin-left no-margin-right'>
	<div class='col-md-1'>
    <!-- LIKES SHOULD BE ADDED HERE -->
		<h2 align='center'>-</h2>
		<p align='center'>likes</p>
	</div>
  <div class='col-md-11'>
  	<h4>
      <a class='font-discussion-tittle'> <%= link_to @discussion.title , discussion_path(@discussion.id) %> </a>
    </h4>

      <%= @discussion.created_at != nil ? @discussion.created_at.to_s : "-" %>ago 
      <%= link_to @discussion.user.email, user_path(@discussion.user_id) %>
      <!-- RESPONSES SHOULD BE ADDED HERE -->
  		<p>- response</p>
      <p>
        <!-- TAGS SHOULD BE ADDED HERE -->
        <% tagifier([]).each do |category| %>
          <span class="tag-label label-gap"> <%= "#{category}" %> </span>
        <% end %>
      </p>
  </div>
  <div class='col-md-12'>
  	<hr>
  </div>
</div>