/ .site-info
/   = link_to 'About', '/about'
%body
	theDesignExchange is a joint project led by
	%strong UC Berkeley
	and
	%strong M.I.T.
	working with the international community of design academics and practitioners. We thank our industry collaborators who hosted our workshop series: Autodesk, Frog, Goto Media, DesignMap, and IDEO. This work was partially supported by NSF grant CMMI-1334361.
