:javascript
  $(function(){
    enableAccordion();
  });
  function enableAccordion(){
    $('.category').find('.category-heading')
               .click(function(){
                var content = $(this).siblings();
                content.toggleClass('in');
              })
  }
:css
  .sidebar-element{
    margin-bottom: 5px;
  }

  .sidebar-leaf{
  	font-weight: normal;
  	display: block;
  }

  .sidebar-maincategory{
  	font-weight: bold;
    cursor: pointer;
  }

  .sidebar{
     text-decoration: none;
     cursor: pointer;
     overflow: hidden;
     margin-right: 0;
     padding-right: 0px;
  }

  .sidebar h5 {
    margin-left:40px;
  }

  @media (max-width: 768px) {
    .sidebar-element {
      display: inline-block;
      padding-left: 10px;
    }

    .sidebar h5 {
      margin-left: 0px;
    }
  }

%h5 Filter by Design Process
- @search_filter_hash.each do |x|
  %ul.sidebar-element
    .category
      = link_to x.name, {:controller => "design_methods", :action => "index", :filter_category => x.process_order},:class=> "category-heading sidebar-maincategory"
      / = link_to x.name, search_category_design_methods_path(x.id), :class=> "category-heading sidebar-maincategory"
/ = link_to "#", :class => "btn btn-info", :style=>"margin-left:40px" do
/   .p{:style=>"font-size:10px"}Advanced Search
