:javascript
  $(function(){
    enableAccordion();
  });
  function enableAccordion(){
    $('.category').find('.category-heading')
               .click(function(){
                var content = $(this).siblings();
                content.toggleClass('in');
              })
  }
:css
  .sidebar-leaf{
    font-weight: normal;
    display: block;
  }

  .sidebar-maincategory{
    font-weight: bold;
    cursor: pointer;
  }

  #sidebar{
     text-decoration: none;
     cursor: pointer;
     overflow: hidden;
     margin-right: 0;
     padding-right: 0px;
  }

  .sidebar-element {
    display: inline-block;
    margin: 6px 0 0 0;
    padding: 0;
  }

  .sidebar-element .category {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.35em;
    border-style: solid;
    border-width: 1px;
    border-color: #366036;
  }

  #sidebar h5 {
    float: left;
    clear: left;
    margin-right: 20px;
  }

  @media (max-width: 768px) {
    #sidebar h5 {
      float: none;
    }
  }

%h5 Filter by Design Process:
- @search_filter_hash.each do |x|
  %ul.sidebar-element
    .category
      = link_to x.name, {:controller => "case_studies", :action => "index", :filter_category => x.process_order},:class=> "category-heading sidebar-maincategory"
/%h5 Filter by Design Process
/.list-group
/  - @search_filter_hash.each do |x|
/    - if params[:filter_category].to_i == x.process_order
/      = link_to x.name, {:controller => "case_studies", :action => "index", :filter_category => x.process_order},:class=> "list-group-item active"
/    - else
/      = link_to x.name, {:controller => "case_studies", :action => "index", :filter_category => x.process_order},:class=> "list-group-item"
