<div class="sidebar" role="complementary">
  <ul class="nav sidenav">
      <!-- CATEGORY -->
      <li >
        <a href="#titleCat">Overview</a>
          <!-- SUB-CATEGORY -->
          <ul class="nav">
            <li>

              <!-- DO WHILE WITH ROOTS -->
              <!-- ROOT -->
              <div class="checkbox">
                <label>
                  <input type="checkbox">Look and Feel
                </label>
              </div>
              <!-- END DO WHILE WITH ROOTS -->

            </li>
          </ul>
      </li>

  </ul>
</div>

<%= @category_hash %>